.AddingDiv{
    margin-left: 35%;
    width: 27%;
    padding: 3%;
    border: solid;
    border-width: thin;
    border-radius: 12%;
    border-color: #9ba6d7;
    justify-content: center;
}
.title{
    color: #3f51b5;
    font-size: x-large;
    font-weight: 600;
}
.buttomAdded{
    margin-top: 5%;
}