.GRTH{
    width: 100px;
    margin: 1%;
}
.divBodyHome{
    text-align: center;
    font-size: x-large;
    color: #808285;
}
.titleHome{
    color: #757575;
    text-align: center;
}
.p-user{
    color: #757575;
    text-align: center;
    font-size: x-large;
}