.errorBoundery{
    position: absolute;
    top: 13%;
    width: 95%;
    padding: 3%;
    margin: 2%;
}
.subTitle{
    font-weight: 500;
    font-size: xx-large;
    font-family: revert;
}
.errorString{
        font-size: large;
        font-family: revert;
}